.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1 {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    margin-bottom: 20px;
}
p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size:  1rem;
    background-color: #007BFF;
    color: white;
    border:  none;
    border-radius: 5px;
    cursor: pointer;
}

.left-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.center-button {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

button:hover {
    background-color: #0056b3;
}   

#fondo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#img{
    width: 150px;
    height: 70px;
    object-fit: cover;
    }

.left-img {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.center-img {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.right-img {
    position: absolute;
    bottom: 20px;
    right: 20px;
}